<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>778632194336-9g0i6lt4r8134tr7jep6tl2lv3ts15kd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778632194336-9g0i6lt4r8134tr7jep6tl2lv3ts15kd</string>
	<key>API_KEY</key>
	<string>AIzaSyBPxiq3quhha0fzDG0e5ge9zawygK3uvmM</string>
	<key>GCM_SENDER_ID</key>
	<string>778632194336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.redpony.BlockIslandTodayGit</string>
	<key>PROJECT_ID</key>
	<string>blockislandtoday-302d7</string>
	<key>STORAGE_BUCKET</key>
	<string>blockislandtoday-302d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:778632194336:ios:ff05893bb06f0947</string>
	<key>DATABASE_URL</key>
	<string>https://blockislandtoday-302d7.firebaseio.com</string>
</dict>
</plist>